.Menu {
  margin-top: 20px;
}

.Menu ul {
  list-style: none;
  padding: 0;
  background-color: lightgreen;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex: auto;
  overflow: hidden;
}

.Menu li {
  flex: auto;
  text-align: center;
}

.active {
  background-color: rgb(238, 144, 238);
}