.Container {
  
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
  overflow: hidden;
}

.border {
  border: 1px solid white;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.half_field {
  width: 50%;
}

.button_container {
  text-align: center;
}