body {
  background-image: url('./Background.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

@media (min-width: 1200px){
  .container {
    max-width: 1140px;
  }
}
.container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}