.Logo {
  margin: 0;
  font-family: 'Marck Script', cursive, 'Balsamiq Sans', cursive, 'Pacifico', cursive;
  font-size: 70px;
}

.Logo span {
  color: red;
}

@media (max-width: 500px){
  .Logo {
      margin: 0;
      font-family: 'Marck Script', cursive, 'Balsamiq Sans', cursive, 'Pacifico', cursive;
      font-size: 60px;
  }
}